@import "chota.css";

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

ul {
  list-style-image: url('./../img/list_marker.svg');
}

small {
  display: block;
}

.skillz img + b {
  margin-left: .3rem;
}

.skillz img {
  width: 1em;
}

#education > ul > li {
  margin-left: calc(1em + .3rem);
}

.markerless > *::marker {
  content: '';
}

.container:last-child {
  padding-bottom: 5rem;
}
